@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wix Madefor Text", sans-serif;
  background-color: #fafafaff;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
a{
  font-family: "Wix Madefor Text", sans-serif;
}
footer {
  font-family: sans-serif;
  font-weight: 400;
}
.ant-select-selector {
  border: none !important;
}
.ant-select {
  font-weight: 700 !important;
}
